*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Parisienne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/parisienne/v12/E21i_d3kivvAkxhLEVZpQyhwDw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --color3: #425465;
  --color4: #cfd5dd;
  --color5: rgb(19, 49, 84);
}

body {
  background-color: rgb(229, 229, 228);
}

#corps {
  width: 1240px;
  margin: auto;
  font-family: "Raleway";
  background-color: #fff;
}

/*********************************************************************/
/******************** HEADER ********************/

#en-tête {
  width: 1240px;
  height: 65px;
  display: flex;
}

#logo1 img {
  width: 290px;
  height: 65px;
}

#menu {
  width: 478px;
  height: 65px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: auto;
  letter-spacing: 1px;
}

#menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

#menu nav ul li {
  list-style-type: none;
  color: var(--color3);
  border-bottom: 2px solid var(--color3);
  padding-bottom: 8px;
  font-size: 1rem;
}

#menu nav ul li:hover {
  color: var(--color5);
  border-bottom: 3px solid var(--color5);
  cursor: pointer;
}

#logo2 img {
  width: 223px;
  height: 65px;
}

/*********************************************************************/
/******************** SECTION 1 PRESENTATION ********************/

.section1 {
  height: 897px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/img1.jpg);
  /* background-image: url(../img/img1.jpg); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1 .tooltip {
  margin: auto;
  width: 70%;
  position: relative;
  top: 20%;
}

.section1 .tooltip p {
  color: var(--color4);
  background: none repeat scroll 0 0 rgba(34, 34, 34, 0.7);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  font-family: "Parisienne", cursive;
}
/*********************************************************************/
/******************** SECTION 2 ABOUT ********************/

.section2 {
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 h6,
.section2 h3 {
  text-align: center;
  font-weight: normal;
}

.section2 h6 {
  margin-top: 100px;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--color5);
}

.section2 h3 {
  /* margin-top: 20px; */
  font-size: 3rem;
  width: 1020px;
  margin: 20px auto;
  font-family: "Parisienne", cursive;
}

/*********************************************************************/
/******************** SECTION 3 GRILLE ********************/

.section3 {
  height: 810px;
}

.grille {
  height: 810px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b c"
    "d e f";
}

.cell1 {
  grid-area: a;
  background-image: url(../img/2.jpg);
  background-size: cover;
  border-top: 2px solid var(--color4);
}
.cell2 {
  grid-area: b;
  border-top: 1px solid var(--color4);
}
.cell3 {
  grid-area: c;
  background-image: url(../img/3.jpg);
  background-size: cover;
  border-top: 2px solid var(--color4);
}
.cell4 {
  grid-area: d;
  border-bottom: 1px solid var(--color4);
}
.cell5 {
  grid-area: e;
  background-image: url(../img/4.jpg);
  background-size: cover;
  border-bottom: 2px solid var(--color4);
}
.cell6 {
  grid-area: f;
  border-bottom: 1px solid var(--color4);
}

.cell2,
.cell4,
.cell6 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

/*********************************************************************/
/******************** SECTION 4 GOURMAND ********************/

.section4 {
  height: 739px;
  padding-top: 60px;
  position: relative;
}

.section4::after {
  position: absolute;
  content: "";
  background: var(--color4);
  height: 1px;
  width: 100%;
  bottom: 0px;
}

.section4 #intro h4 {
  font-size: 1.5rem;
  color: var(--color5);
  font-weight: normal;
  margin-bottom: 35px;
  text-align: center;
}

.section4 #intro p {
  text-align: center;
  margin-bottom: 30px;
}

#grille2 {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "sandwich planche dessert";
  justify-items: center;
  margin: 0 60px;
}

.bloc1 {
  grid-area: sandwich;
  padding: 30px;
  /* border: 1px solid var(--color4); */
  margin-right: 10px;
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
}

.bloc2 {
  grid-area: planche;
  padding: 30px;
  margin-right: 10px;
  /* border: 1px solid var(--color4); */
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  /* border-bottom: 1px solid var(--color4);
  border-top: 1px solid var(--color4);
  border-right: 1px solid var(--color4); */
}

.bloc3 {
  grid-area: dessert;
  padding: 30px;
  /* border: 1px solid var(--color4); */
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.4);
  /* border-bottom: 1px solid var(--color4);
  border-top: 1px solid var(--color4);
  border-right: 1px solid var(--color4); */
}

#grille2 h4 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color5);
  font-weight: normal;
  margin-bottom: 30px;
  /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); */
}

#grille2 p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

#fin {
  font-size: 1.2rem;
  color: var(--color5);
  text-align: center;
  margin: 40px auto 20px;
}

/*********************************************************************/
/******************** SECTION 5 PHOTOS ********************/

.section5 {
  height: 720px;
}

#grille3 {
  height: 707px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img3 img4";
}

#img1 {
  grid-area: img1;
  background-image: url(../img/5.jpg);
  /* background-position: center; */
  background-size: cover;
}

#img2 {
  grid-area: img2;
  background: url(../img/6.jpg);
  background-size: cover;
}

#img3 {
  grid-area: img3;
  background-image: url(../img/7.jpg);
  background-size: cover;
}

#img4 {
  grid-area: img4;
  background-image: url(../img/8.jpg);
  background-size: cover;
}

/*********************************************************************/
/***** SECTION 6 MENU*****/

/* .section6 {
  height: 771px;
  background-color: burlywood;
} */

/*********************************************************************/
/******************** SECTION 7 FEEDBACK ********************/

.section7 {
  height: 900px;
  position: relative;
}

.section7 #feedback p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color5);
  font-weight: normal;
  padding-top: 30px;
}
/* la box qui contient les images */
.slider-container {
  height: 80%;
  width: 90%;
  top: 5%;
  left: 5%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* la zone de navigation */
.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%; /* 100% du parent .slider-container donc 600px */
  bottom: 20px;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: var(--color4);
  border-radius: 50px; /* rond */
}
.menu label:hover {
  background: var(--color5);
}

/*la zone des images*/
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%; /* pousse la zone a 100% de la gauche */
  z-index: 10;
  background-size: cover;
  background-position: 50% 50%; /* background position center */
  transition: left 0s 1s;
}

/*le premier element avec la classe slide qui suis le/les element(s) dont l'id commence par slide et qui est/sont checked */
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.9s ease-in-out;
}

/* les images - slides */
.slide-1 {
  background-image: url(../img/9.jpg);
  /* background-attachment: fixed; */
}
.slide-2 {
  background-image: url(../img/15.jpg);
}
.slide-3 {
  background-image: url(../img/14.jpg);
}
.slide-4 {
  background-image: url(../img/12.jpg);
}

/* tooltip */
.section7 .tooltip {
  position: absolute; /* par rapport au container */
  top: 70%;
  width: 70%;
  left: 5%;
}

.section7 .tooltip p {
  color: var(--color4);
  background: none repeat scroll 0 0 rgba(34, 34, 34, 0.7);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  font-family: "Parisienne", cursive;
}

/* #slide-dot-1 */
[id^="slide-dot"] {
  display: none;
}

.section7::after {
  position: absolute;
  content: "";
  background: var(--color4);
  height: 1px;
  width: 100%;
  bottom: 0px;
}
/*********************************************************************/
/******************** SECTION8 FORMULAIRE ********************/

.section8 {
  height: 773px;
  position: relative;
}

.section8::after {
  position: absolute;
  content: "";
  background: var(--color4);
  height: 1px;
  width: 100%;
  bottom: 0px;
}

.section8 h6 {
  text-align: center;
  font-weight: normal;
  padding-top: 60px;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color5);
}

.section8 p {
  margin: 30px auto;
  text-align: center;
  font-weight: normal;
  line-height: 26px;
  padding: 0 80px;
}

#formulaire {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin: 49px auto;
  position: relative;
  /* font-size: 1.5rem; */
}

#nom,
#email,
#tel {
  width: 550px;
  height: 50px;
  margin-bottom: 10px;
  font-family: "Raleway";
  padding: 10px;
  font-size: 1rem;
}

#message {
  width: 550px;
  margin-bottom: 10px;
  font-family: "Raleway";
  padding: 10px;
  font-size: 1rem;
}

#bouton {
  border: var(--color3) solid 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 15px 25px;
  background: #fff;
  position: absolute;
  top: 105%;
  left: 60%;
  transform: translate(-105%, -60%);
  color: var(--color3);
}

#bouton:hover {
  background-color: var(--color3);
  color: var(--color4);
  cursor: pointer;
}

/*********************************************************************/
/******************** SECTION9 ADRESSE ********************/

.section9 {
  height: 400px;
  text-align: center;
}

.section9 h3 {
  font-weight: normal;
  font-size: 1.25rem;
  padding-top: 50px;
  padding-bottom: 10px;
  color: var(--color5);
}

.section9 #cursive {
  font-weight: normal;
  font-size: 1.25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--color5);
  font-family: "Parisienne";
}
.section9 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 30px;
}

.section9 p span {
  color: var(--color5);
}

/*********************************************************************/
/******************** SECTION10 GALERIE PHOTOS ********************/

.section10 {
  height: 400px;
  background-color: lightblue;
}

/*********************************************************************/
/******************** FOOTER ********************/
footer {
  height: 200px;
}

footer #footer-haut {
  height: 100px;
  background-color: var(--color3);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

footer #footer-haut #logo {
  background-image: url(../img/logo-texte.jpg);
  width: 290px;
  height: 65px;
  background-size: cover;
}
footer #footer-haut a {
  text-decoration: none;
  color: var(--color4);
  font-size: 0.8rem;
}

.fa-facebook-f {
  color: var(--color4);
  padding-right: 10px;
}

.fa-envelope {
  color: var(--color4);
}

#footer-haut::after {
  position: absolute;
  content: "";
  background: var(--color4);
  height: 1px;
  width: 80%;
  bottom: 0px;
}

footer #footer-bas {
  height: 80px;
  background-color: var(--color3);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer #footer-bas #bas-gauche {
  color: var(--color4);
  font-size: 0.8rem;
}

footer #footer-bas #bas-droite {
  color: var(--color4);
  font-size: 0.8rem;
}
