*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
}

@font-face {
  font-family: "Great Vibes";
  src: url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
}

:root {
  --color1: rgb(19, 51, 88);
  --color2: rgb(71, 139, 200);
  --color3: #425465;
}

body {
  background-color: rgb(229, 229, 228);
}

#corps {
  width: 1240px;
  margin: auto;
  font-family: "Raleway";
  background-color: #fff;
}

/***** HEADER *****/

#en-tête {
  width: 1240px;
  height: 65px;
  display: flex;
}

#logo1 img {
  width: 290px;
  height: 65px;
}

#menu {
  width: 478px;
  height: 65px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: auto;
}

#menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

#menu nav ul li {
  list-style-type: none;
  color: rgb(19, 51, 88);
  border-bottom: 2px solid var(--color1);
  padding-bottom: 8px;
  font-size: 1rem;
}

#menu nav ul li:hover {
  color: rgb(71, 139, 200);
  border-bottom: 2px solid var(--color2);
  cursor: pointer;
}

#logo2 img {
  width: 223px;
  height: 65px;
}

/***** SECTION 1 *****/

.section1 {
  height: 897px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/img1.jpg);
  /* background-image: url(../img/img1.jpg); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1 p {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  text-align: center;
  width: 1034px;
  margin: auto;
  margin-top: 400px;
  text-shadow: black 0px 3px 10px;
}

.fas {
  color: white;
  font-size: 5rem;
  margin: auto;
  margin-bottom: 20px;
}
/***** SECTION 2 *****/

.section2 {
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 h6,
.section2 h3 {
  text-align: center;
  font-weight: normal;
}

.section2 h6 {
  margin-top: 100px;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.section2 h3 {
  /* margin-top: 20px; */
  font-size: 3rem;
  width: 1020px;
  margin: 20px auto;
  font-family: "Great Vibes", cursive;
}

/***** SECTION 3 *****/

.section3 {
  height: 810px;
}

.grille {
  height: 810px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b c"
    "d e f";
}

.cell1 {
  grid-area: a;
  background-image: url(../img/2.jpg);
  background-size: cover;
}
.cell2 {
  grid-area: b;
}
.cell3 {
  grid-area: c;
  background-image: url(../img/3.jpg);
  background-size: cover;
}
.cell4 {
  grid-area: d;
}
.cell5 {
  grid-area: e;
  background-image: url(../img/4.jpg);
  background-size: cover;
}
.cell6 {
  grid-area: f;
}

.cell2,
.cell4,
.cell6 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

/***** SECTION 4 *****/

.section4 {
  height: 739px;
  padding-top: 90px;
}

.section4 #intro h4 {
  font-size: 1.5rem;
  color: var(--color1);
  font-weight: normal;
  margin-bottom: 35px;
  text-align: center;
}

.section4 #intro p {
  text-align: center;
  margin-bottom: 30px;
}

#grille2 {
  height: 349px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "sandwich planche dessert";
  justify-items: center;
}

.bloc1 {
  grid-area: sandwich;
  padding: 30px;
}

.bloc2 {
  grid-area: planche;
  padding: 30px;
}

.bloc3 {
  grid-area: dessert;
  padding: 30px;
}

#grille2 h4 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color1);
  font-weight: normal;
  margin-bottom: 30px;
}

#grille2 p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

#fin {
  font-size: 1.2rem;
  color: var(--color1);
  text-align: center;
  margin: 50px auto;
}

/***** SECTION 5 *****/

.section5 {
  height: 707px;
}

#grille3 {
  height: 707px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img3 img4";
}

#img1 {
  grid-area: img1;
  background-image: url(../img/5.jpg);
  /* background-position: center; */
  background-size: cover;
}

#img2 {
  grid-area: img2;
  background: url(../img/6.jpg);
  background-size: cover;
}

#img3 {
  grid-area: img3;
  background-image: url(../img/7.jpg);
  background-size: cover;
}

#img4 {
  grid-area: img4;
  background-image: url(../img/8.jpg);
  background-size: cover;
}

/***** SECTION 6 *****/

.section6 {
  height: 771px;
  background-color: burlywood;
}

/***** SECTION 7 ****/

.section7 {
  height: 707px;
  background-color: aquamarine;
}

/***** SECTION8 *****/

.section8 {
  height: 773px;
}

.section8 h6 {
  text-align: center;
  font-weight: normal;
  margin-top: 100px;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section8 p {
  margin: 30px auto;
  text-align: center;
  font-weight: normal;
  line-height: 26px;
  padding: 0 80px;
}

#formulaire {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin: 49px auto;
}

#nom,
#email,
#tel {
  width: 550px;
  height: 50px;
  margin-bottom: 10px;
  font-family: "Raleway";
  padding: 10px;
}

#message {
  width: 550px;
  margin-bottom: 10px;
  font-family: "Raleway";
  padding: 10px;
}

#bouton {
  border: var(--color3) solid 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 15px 25px;
  background: #fff;
  position: relative;
  left: 200px;
  /* width: 550px; */
}

#bouton:hover {
  background-color: var(--color3);
  color: #fff;
}
